{:auth-claim-phone-number/no-user
 {:title "phone-number",
  :message
  "This phone number is available - You can create your account without claiming.",
  :error-code 6},
 :auth-change-password/bad-auth
 {:title "authentication",
  :message "Bad username/password",
  :error-code 1},
 :auth-password-reset-confirm/token-expired
 {:title "token",
  :message "Token has expired. Please request a new one.",
  :error-code 11},
 :validators/email
 {:title "email", :message "Invalid email address", :error-code 4},
 :auth-login-email/bad-auth
 {:title "authentication",
  :message "Bad username/password",
  :error-code 1},
 :auth-phone-number-change/too-frequent
 {:title "phone-number",
  :message "You can not change phone number that frequently.",
  :error-code 10},
 :auth-confirm/too-many-sms
 {:title "authentication",
  :message "We just sent you a sms.",
  :error-code 10},
 :auth-add-password/password-exists
 {:title "authentication",
  :message "Password already exists.",
  :error-code 114},
 :auth-password-reset-confirm/bad-auth
 {:title "user", :message "Invalid user.", :error-code 1},
 :auth-add-twitch/email-unconfirmed
 {:title "authentication",
  :message "The twitch email was not confirmed.",
  :error-code 40},
 :auth-login-google/not-verified
 {:title "authentication",
  :message
  "The email attached to the google account has not been verified",
  :error-code 44},
 :auth-password-reset-initiate/not-confirmed
 {:title "authentication",
  :message "Account not confirmed",
  :error-code 19},
 :validators/password-strength
 {:title "password",
  :message
  "Password should be longer than 8 and shorter than 200 characters",
  :error-code 3},
 :validators/iss
 {:title "iss", :message "Issuer is not valid.", :error-code 11},
 :validators/json-string
 {:title "json", :message "Invalid json string.", :error-code 23},
 :validators/aud
 {:title "aud", :message "Audience is not valid.", :error-code 11},
 :validators/string-size
 {:title "%s",
  :message "Too big string - max size: %s bytes.",
  :error-code 23},
 :auth-confirm-code/too-many-failures
 {:title "authentication",
  :message
  "You have attempted to confirm too many times. Try in a few minutes.",
  :error-code 21},
 :auth-login-email/claimed-user
 {:title "authentication",
  :message
  "Your phone number has been claimed. Please check your email.",
  :error-code 118},
 :auth-confirm/already-confirmed
 {:title "authentication",
  :message "Your account is already confirmed.",
  :error-code 1},
 :auth-confirm/bad-auth
 {:title "authentication", :message "Bad username", :error-code 1},
 :auth-password-reset-confirm/too-often
 {:title "email",
  :message "You have requested a reminder less than an hour ago",
  :error-code 10},
 :validators/string->uuid
 {:title "%s", :message "The field has to be a uuid.", :error-code 23},
 :validators/user-uniqueness
 {:title "email", :message "User already exists", :error-code 2},
 :auth-login-email/too-many-failures
 {:title "authentication",
  :message
  "You have attempted to login too many times. Try in a few minutes.",
  :error-code 22},
 :auth-change-password/too-often
 {:title "authentication",
  :message
  "You have attempted to login too many times. Try in a few minutes",
  :error-code 22},
 :auth-add-twitch/twitch-error
 {:title "authentication", :message "%s", :error-code 39},
 :validators/validate-role
 {:title "Role",
  :message
  "This role isn't valid, availables roles in our system: user, admin, superadmin.",
  :error-code 52},
 :auth-confirm-code/already-confirmed
 {:title "authentication",
  :message "Account already confirmed",
  :error-code 20},
 :auth-login-fb/unable-to-connect
 {:title "authentication",
  :message "Unable to connect to facebook",
  :error-code 7},
 :auth-phone-number-add-email/too-many
 {:title "email",
  :message "You can not change email that frequently.",
  :error-code 10},
 :validators/exp
 {:title "exp", :message "Token has expired.", :error-code 11},
 :auth-confirm-code/code-expired
 {:title "code",
  :message "Code has expired. Please request a new one.",
  :error-code 48},
 :auth-login-email/deactivated-user
 {:title "authentication",
  :message "User has been deactivated.",
  :error-code 94},
 :auth-password-reset-initiate/bad-auth
 {:title "email",
  :message "No such email is registered",
  :error-code 1},
 :auth-confirm/too-many
 {:title "authentication",
  :message "We just sent you an e-mail. Please check your mailbox.",
  :error-code 21},
 :auth-admin-change-password/access-denied
 {:title "Password",
  :message "You are not allowed to change password of this user.",
  :error-code 5},
 :auth-login-google/unable-to-connect
 {:title "authentication",
  :message "Unable to connect to google",
  :error-code 44},
 :auth-reset-phone-number/bad-role
 {:title "role",
  :message "You must have a client account to reset phone number.",
  :error-code 52},
 :auth-admin-activate-account/access-denied
 {:title "Activate",
  :message "You are not allowed to activate this user.",
  :error-code 5},
 :auth-login-email/not-confirmed
 {:title "authentication",
  :message "Account not confirmed",
  :error-code 19} 
 :auth-login-phone-number/password-doesnt-exist
 {:title "authentication",
  :message "You have not added password yet.",
  :error-code 115},
 :auth-add-password/bad-auth-phone-number
 {:title "authentication", :message "Bad phone-number", :error-code 1},
 :auth-admin-deactivate-account/access-denied
 {:title "Deactivate",
  :message "You are not allowed to deactivate this user.",
  :error-code 5},
 :validators/user-from-string-uuid
 {:title "User",
  :message "Given uuid is not a valid uuid of user.",
  :error-code 6},
 :validators/language-code
 {:title "Translate",
  :message
  "Invalid language code - possible options: en (English), ar (Arabic).",
  :error-code 65},
 :auth-phone-number-change-confirm/token-expired
 {:title "token",
  :message "This code has expired. Please request a new one.",
  :error-code 11},
 :auth-confirm-code/bad-code
 {:title "code", :message "Bad code", :error-code 47},
 :validators/phone
 {:title "phone",
  :message
  "Telephone number must start with a '+' followed by digits (no spacebars nor dashes).",
  :error-code 23},
 :auth-login-fb/facebook-error
 {:title "authentication", :message "%s", :error-code 7},
 :auth-add-twitch/standard-error
 {:title "authentication",
  :message "Twitch authorization failed",
  :error-code 39},
 :auth-login-apple/bad-token
 {:title "authentication",
  :message "Something went wrong!",
  :error-code 11},
 :auth-phone-number/bad-auth
 {:title "phone-number",
  :message "No such phone number is registered",
  :error-code 1},
 :auth-password-reset-initiate/too-often
 {:title "email",
  :message "We just sent you an e-mail. Please check your mailbox.",
  :error-code 10},
 :auth-add-twitch/already-attached
 {:title "authentication",
  :message "The Twitch account is already attached",
  :error-code 39},
 :auth-login-google/standard-error
 {:title "authentication",
  :message "Google authorization failed",
  :error-code 44},
 :auth-claim-phone-number/phone-number
 {:title "phone-number",
  :message
  "This phone number is already associated with your account.",
  :error-code 116},
 :auth-login-google/google-error
 {:title "authentication", :message "%s", :error-code 44},
 :auth-admin-check-activation-status/access-denied
 {:title "Check activation",
  :message "You are not allowed to check status of this user.",
  :error-code 5},
 :auth-login-phone-number/bad-auth
 {:title "authentication",
  :message "Bad phone number/password",
  :error-code 1},
 :auth-login-fb/standard-error
 {:title "authentication",
  :message "Facebook authorization failed",
  :error-code 7}}